<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.xyes.zkh.retail.repository.dao.mapper.CashApplicationMapper">
    <sql id="select">
        select ca.id          ca_id,
               ca.user_id     ca_user_id,
               ca.amount      ca_amount,
               ca.status      ca_status,
               ca.create_time ca_create_time,
               ca.update_time ca_update_time,
               ca.deleted     ca_deleted
        from t_cash_application as ca
        where ca.deleted != 1
    </sql>
    <resultMap id="rm_base" type="club.xyes.zkh.retail.commons.entity.CashApplication">
        <id column="ca_id" property="id"/>
        <result column="ca_user_id" property="userId"/>
        <result column="ca_amount" property="amount"/>
        <result column="ca_status" property="status"/>
        <result column="ca_create_time" property="createTime"/>
        <result column="ca_update_time" property="updateTime"/>
        <result column="ca_deleted" property="deleted"/>
    </resultMap>
</mapper>