<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.xyes.zkh.retail.repository.dao.mapper.OrderMapper">
    <sql id="select">
        select o.id,
               o.user_id,
               o.commodity_id,
               o.quantity,
               o.store_id,
               o.amount,
               o.username,
               o.phone,
               o.sn,
               o.trade_no,
               o.commodity_name,
               o.commodity_description,
               o.status,
               o.appointment_time,
               o.create_time,
               o.update_time,
               o.deleted
        from t_order as o
        where o.deleted != 1
    </sql>
    <resultMap id="rm_base" type="club.xyes.zkh.retail.commons.entity.Order">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="commodity_id" property="commodityId"/>
        <result column="quantity" property="quantity"/>
        <result column="store_id" property="storeId"/>
        <result column="amount" property="amount"/>
        <result column="username" property="username"/>
        <result column="phone" property="phone"/>
        <result column="sn" property="sn"/>
        <result column="trade_no" property="tradeNo"/>
        <result column="commodity_name" property="commodityName"/>
        <result column="commodity_description" property="commodityDescription"/>
        <result column="status" property="status"/>
        <result column="appointment_time" property="appointmentTime"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>
    <resultMap id="rm_all" type="club.xyes.zkh.retail.commons.entity.Order" extends="rm_base">
        <association column="user_id" property="user"
                     select="club.xyes.zkh.retail.repository.dao.mapper.UserMapper.selectByPrimaryKey"/>
        <association column="store_id" property="store"
                     select="club.xyes.zkh.retail.repository.dao.mapper.StoreMapper.selectByPrimaryKey"/>
        <association column="commodity_id" property="commodity"
                     select="club.xyes.zkh.retail.repository.dao.mapper.CommodityMapper.selectByPrimaryKey"/>
    </resultMap>
    <select id="selectByUserId" resultMap="rm_all">
        <include refid="select"/>
        and user_id=#{userId}
        order by o.create_time desc
    </select>
</mapper>