<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.xyes.zkh.retail.repository.dao.mapper.UserMapper">
    <sql id="select">
        select u.id,
               u.nickname,
               u.name,
               u.phone,
               u.wx_open_id,
               u.wx_avatar,
               u.role,
               u.position_longitude,
               u.position_latitude,
               u.position,
               u.direct_income,
               u.team_income,
               u.withdrawals,
               u.promo_code,
               u.team_header_level,
               u.leader_id,
               u.wx_token_json,
               u.create_time,
               u.update_time,
               u.deleted
        from t_user as u
        where u.deleted != 1
    </sql>
    <resultMap id="rm_base" type="club.xyes.zkh.retail.commons.entity.User">
        <id column="id" property="id"/>
        <result column="nickname" property="nickname"/>
        <result column="name" property="name"/>
        <result column="phone" property="phone"/>
        <result column="wx_open_id" property="wxOpenId"/>
        <result column="wx_avatar" property="wxAvatar"/>
        <result column="role" property="role"/>
        <result column="position_longitude" property="positionLongitude"/>
        <result column="position_latitude" property="positionLatitude"/>
        <result column="position" property="position"/>
        <result column="direct_income" property="directIncome"/>
        <result column="team_income" property="teamIncome"/>
        <result column="withdrawals" property="withdrawals"/>
        <result column="promo_code" property="promoCode"/>
        <result column="team_header_level" property="teamHeaderLevel"/>
        <result column="leader_id" property="leaderId"/>
        <result column="wx_token_json" property="wxTokenJson"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>
</mapper>